.category.list-group-item {
  font-weight: bold;
  cursor: pointer;
}

.category-btn-container {
  padding: 15px 0;
  text-align: center;
}

.card.category {
  margin-bottom: 20px;
}

.card-header {
  font-weight: bold;
}

input.ng-invalid {
  background-color: lightpink;
}

.item-budget {
  float: right;
  font-weight: bold;
}
