<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
        <li
          class="category list-group-item"
          *ngFor="let category of categories; let i = index"
          [ngClass]="{ 'active' : i === selectedCategoryIndex }"
          (click)="onCategorySelect(i)">
          {{ category.name }}
        </li>
    </ul>
    <div class="category-btn-container">
      <button
        class="btn btn-danger col-md"
        *ngIf="selectedCategoryIndex !== undefined">Remove</button>
    </div>
  </div>
  <div class="col-md-9">
    <div class="category card" *ngFor="let category of categories; let i = index">
      <div class="card-header">
        <div
          *ngIf="!editingCategoryName[i]"
          (click)="onCategoryNameSelect(i)"
          style="cursor: pointer">{{ category.name }}</div>
        <form
          #categoryNameForm="ngForm"
          (ngSubmit)="onCategoryNameSubmit(categoryNameForm, i)"
          *ngIf="editingCategoryName[i]">
          <input
            class="form-control"
            placeholder="Please enter a category name..."
            appInputAutofocus
            (blur)="clearCategoryNameEdit(i)"
            [ngModel]="category.name"
            name="categoryName"
            required>
        </form>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let categoryItem of category.items; let j = index">
            <div class="row">
              <span
                *ngIf="!editingItemName[i][j]"
                class="col-md-10"
                (click)="onItemNameSelect(i, j)"
                style="cursor: pointer">
              {{ categoryItem.name }}
            </span>
              <form
                #itemNameForm="ngForm"
                class="col-md-10"
                (ngSubmit)="onItemNameSubmit(itemNameForm, i, j)"
                *ngIf="editingItemName[i][j]">
                <div class="input-group-sm">
                  <input
                    class="form-control"
                    #itemNameForm
                    placeholder="Please enter an item name..."
                    appInputAutofocus
                    (blur)="clearItemNameEdit(i, j)"
                    [ngModel]="categoryItem.name"
                    name="itemName"
                    required>
                </div>

              </form>
              <span class="item-budget col-md-2">{{ categoryItem.budget | currency: 'USD' }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="category-btn btn btn-success col-md">Add Category</button>
  </div>
</div>
