<div class="row">
<!--Category List Column-->
  <div class="container col-md-3">
    <ul class="list-group">
      <li class="list-group-item bg-light">Overview</li>
      <li
        class="category list-group-item"
        *ngFor="let category of categories; let i = index"
        [ngClass]="{ 'active' : i === selectedCategoryIndex }"
        (click)="onCategorySelect(i)">
        <b>{{ category.name }}</b>
        <br>
        {{ _categoryService.calculateCategorySum(i) | currency: 'USD' }}
      </li>
    </ul>
  </div>
  <!--Budget Planner Column-->
  <!--Show all categories if none selected-->
  <div class="all-category-cards container col-md-9" *ngIf="selectedCategoryIndex === undefined">
    <app-budget-category-card
      *ngFor="let category of categories; let i = index"
      [categoryIndex]="i"></app-budget-category-card>
    <hr>
    <!--Button for adding new categories-->
    <button
      type="button"
      class="category-btn btn btn-primary col-md"
      (click)="onCategoryAddSelect()">Add Category</button>
  </div>
  <!--Show specific category if one is selected-->
  <div class="specific-category-card container col-md-9" *ngIf="selectedCategoryIndex !== undefined">
    <app-budget-category-card [categoryIndex]="selectedCategoryIndex"></app-budget-category-card>
  </div>
</div>
