.modal-footer {
  border-color: transparent;
}

.category.list-group-item {
  cursor: pointer;
}

.category.list-group-item.active {
  background-color: #f7f7f7;
  color: black;
  border-color: #6c757d;
}

.category-btn-container {
  padding: 15px 0;
  text-align: center;
}
