<!--Category Remove Modal-->
<div class="modal fade" id="categoryRemoveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Remove Budget Category</h4>
      </div>
      <div class="modal-body" *ngIf="selectedCategoryToRemoveIndex !== undefined">
        Are you sure you want to remove the budget category
        <b>{{ categories[selectedCategoryToRemoveIndex].name}}</b>?
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-danger"
          (click)="onCategoryRemoveSelect()"
          data-dismiss="modal">Remove</button>
        <button
          class="btn btn-secondary"
          data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
<!--Category List Column-->
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item bg-light">Overview</li>
      <li
        class="category list-group-item"
        *ngFor="let category of categories; let i = index"
        [ngClass]="{ 'active' : i === selectedCategoryIndex }"
        (click)="onCategorySelect(i)">
        <b>{{ category.name }}</b>
        <br>
        {{ _categoryService.calculateCategorySum(i) | currency: 'USD' }}
      </li>
    </ul>
  </div>
<!--Budget Planner Column-->
  <div class="col-md-9">
    <div class="category card" *ngFor="let category of categories; let i = index">
      <div class="card-header bg-success text-white">
        <div class="row">
          <div
            class="col-11"
            *ngIf="!editingCategoryName[i]"
            (click)="onCategoryNameSelect(i)"
            style="cursor: pointer">{{ category.name }}</div>
          <form
            class="col-11"
            #categoryNameForm="ngForm"
            (ngSubmit)="onCategoryNameSubmit(categoryNameForm, i)"
            *ngIf="editingCategoryName[i]">
            <input
              class="form-control"
              placeholder="Please enter a category name..."
              appInputAutofocus
              (blur)="clearCategoryNameEdit(i)"
              [ngModel]="category.name"
              name="categoryName"
              required>
          </form>
          <fa-icon
            class="trash-icon col-1"
            [icon]="trashIcon"
            style="cursor: pointer;"
            data-toggle="modal"
            data-target="#categoryRemoveModal"
            (click)="selectedCategoryToRemoveIndex = i"></fa-icon>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let categoryItem of category.items; let j = index">
            <div class="row">
              <span
                *ngIf="!editingItemName[i][j]"
                class="col-8"
                (click)="onItemNameSelect(i, j)"
                style="cursor: pointer">
                {{ categoryItem.name }}
              </span>
              <form
                #itemNameForm="ngForm"
                class="col-8"
                (ngSubmit)="onItemNameSubmit(itemNameForm, i, j)"
                *ngIf="editingItemName[i][j]">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="Please enter an item name..."
                    appInputAutofocus
                    (blur)="clearItemNameEdit(i, j)"
                    [ngModel]="categoryItem.name"
                    name="itemName"
                    required>
                </div>
              </form>
              <span
                *ngIf="!editingItemBudget[i][j]"
                class="item-budget col-4"
                (click)="onItemBudgetSelect(i, j)"
                style="cursor: pointer">
                {{ categoryItem.budget | currency: 'USD' }}
              </span>
              <form
                #itemBudgetForm="ngForm"
                class="col-4"
                (ngSubmit)="onItemBudgetSubmit(itemBudgetForm, i, j)"
                *ngIf="editingItemBudget[i][j]">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input
                    class="item-budget-input form-control"
                    type="number"
                    placeholder="0.00"
                    appInputAutofocus
                    (blur)="clearItemBudgetEdit(i, j)"
                    [ngModel]="categoryItem.budget"
                    name="itemBudget"
                    required>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <button
      type="button"
      class="category-btn btn btn-light col-md"
      (click)="onCategoryAddSelect()">Add Category</button>
  </div>
</div>
