<!--Category Remove Modal-->
<div class="modal fade" [attr.id]="'categoryRemoveModal' + categoryIndex">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Remove Budget Category</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove the budget category
        <b>{{ category.name }}</b>?
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-danger"
          (click)="onCategoryRemoveSelect()"
          data-dismiss="modal">Remove</button>
        <button
          class="btn btn-secondary"
          data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!--Category Card-->
<div class="category card">
  <div class="card-header bg-success text-white">
    <div class="row">
      <div
        class="col-10"
        *ngIf="!editingCategoryName"
        (click)="onCategoryNameSelect()"
        style="cursor: pointer">{{ category.name }}</div>
      <form
        class="col-10"
        #categoryNameForm="ngForm"
        (ngSubmit)="onCategoryNameSubmit(categoryNameForm)"
        *ngIf="editingCategoryName">
        <input
          class="form-control"
          placeholder="Please enter a category name..."
          appInputAutofocus
          (blur)="onCategoryNameBlur(categoryNameForm)"
          [ngModel]="category.name"
          name="categoryName"
          required>
      </form>
      <fa-icon
        class="icon col-1"
        [icon]="plusIcon"
        style="cursor: pointer;"></fa-icon>
      <fa-icon
        class="icon col-1"
        [icon]="trashIcon"
        style="cursor: pointer;"
        data-toggle="modal"
        [attr.data-target]="'#categoryRemoveModal' + categoryIndex"></fa-icon>
    </div>
  </div>
  <div class="card-body">
    <!--Item List -->
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let categoryItem of category.items; let i = index">
        <div class="row">
          <span
            *ngIf="!editingItemName[i]"
            class="col-8"
            (click)="onItemNameSelect(categoryIndex, i)"
            style="cursor: pointer">
            {{ categoryItem.name }}
          </span>
          <form
            #itemNameForm="ngForm"
            class="col-8"
            (ngSubmit)="onItemNameSubmit(itemNameForm, i)"
            *ngIf="editingItemName[i]">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="Please enter an item name..."
                appInputAutofocus
                (blur)="clearItemNameEdit(i)"
                [ngModel]="categoryItem.name"
                name="itemName"
                required>
            </div>
          </form>
          <span
            *ngIf="!editingItemBudget[i]"
            class="item-budget col-4"
            (click)="onItemBudgetSelect(categoryIndex, i)"
            style="cursor: pointer">
                {{ categoryItem.budget | currency: 'USD' }}
              </span>
          <form
            #itemBudgetForm="ngForm"
            class="col-4"
            (ngSubmit)="onItemBudgetSubmit(itemBudgetForm, i)"
            *ngIf="editingItemBudget[i]">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input
                class="item-budget-input form-control"
                type="number"
                placeholder="0.00"
                appInputAutofocus
                (blur)="clearItemBudgetEdit(i)"
                [ngModel]="categoryItem.budget"
                name="itemBudget"
                required>
            </div>
          </form>
        </div>
      </li>
    </ul>
    <p class="text-muted text-center font-italic small" *ngIf="category.items.length === 0">Please add an item to this category...</p>
  </div>
</div>
